/* Common Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: boder-box;
  outline: none;
  text-decoration: none;
  list-style-type: none;
  font-family: "Baloo Da 2";
}

html {
  font-size: 62.5%;
}
/* End of Common Styles */

/* Section 1 */
.section-1 {
  width: 100%;
  height: 100vh;
  background: url(images/dark-bg.jpeg) no-repeat;
  background-size: cover;
}
/* End of Section 1 */
